html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////////////////////////////// */


.container{
    width: 350px;
    background-color: #2b303a;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}


.input{
   width: min-content;
}

.icon{
   width: 30px;
   padding-bottom: 10px;
}

.head{
   text-align: center;
   padding: 0;
   color: white;

}

.rememberMe { 
   display: flex;
    width: 93%;
    justify-content: start;
    align-items: center;
    color: #fff;
    gap: 5px;
    font-size: 14px;
  
   }


   .button {
      width: 310px;
      padding: 10px;
      font-size: 14px;
      font-weight: 700;
      background-color: #08c0fa;
      color: #2b303a;
      border: 2px solid #08c0fa ;
      border-radius: 5px;
      cursor: pointer;
   }
      .button:hover {
         background-color: transparent;
         color: white;
         transition: 0.4s;
         border-color: #ff4055;
      }

      .forgotPass{
         display: flex;
         font-size: 12px;
         gap: 45px;
         color: #08c0fa;
      }

      .Copyright{
         color: #777777;
         font-size: 12px;
      }